<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="https://cdn.svc.oneadvanced.com/mosaic/2.0.0/css/mosaic.css">
    <link rel="stylesheet" href="http://cdn.svc.oneadvanced.com/mosaic/2.0.0/css/mosaic-no-fonts.css">
    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />*@
        <link rel="stylesheet" href="~/css/mosaic.css" />
        <link rel="stylesheet" href="~/css/mosaic-no-fonts.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="http://cdn.svc.oneadvanced.com/mosaic/1.0.0/css/mosaic.css">
        <link rel="stylesheet" href="http://cdn.svc.oneadvanced.com/mosaic/1.0.0/css/mosaic-no-fonts.css">
    </environment>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <a href="#" class="navbar-brand">
            <img src="https://cdn.svc.oneadvanced.com/mosaic/2.0.0/img/logo.svg" alt="Advanced">
            <span>GatePass</span>
        </a>

        <div class="collapse navbar-collapse" id="navbar-minimum-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <svg class="icon">
                            <use xlink:href="#home" href="#home"></use>
                        </svg>

                    </a>
                </li>
                <li class="nav-item dropdown">

                    <div class="dropdown-menu dropdown-menu-fade" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="#card_in_use" href="#card_in_use"></use>
                            </svg>
                            <div>Saved Cards</div>
                        </a>

                    </div>
                </li>

                
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebApplication2</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


</body>
</html>
