
@{
    ViewData["Title"] = "AnswerToTheRequest";
}

<h2>AnswerToTheRequest</h2>

 





<a href="~/Home/Accept" class="btn btn-primary btn-block">Accept the Request </a>

<a href="~/Home/Reject" class="btn btn-primary btn-block">Reject the Request </a>